*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #222;
    font-family: monospace;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: linear-gradient(rgb(218, 218, 218, 0.4) 90%, rgba(170, 170, 170, 0.925) 100%);
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
    box-shadow: 
        -2px 0 3px rgba(111, 120, 127, 0.516), 
        2px 0 3px rgba(111, 120, 127, 0.503),
        0 -3px 2px rgb(56, 56, 56, 0.2), 
        0 6px 5px rgba(85, 82, 82, 0.646)
    ;
    border-radius: 5px;
}

#input {
    height: 50vh;
}

.ui {
    width: 93%;
    margin: 0 auto;
    padding: 0.2rem;
}

.ui-container {
    padding: 1rem;
}

.ui-message {
    min-height: 45px;
    font-size: 1.1rem;
    background-color: rgb(141, 251, 211);
    color: rgb(28, 173, 74);
    border-bottom: 1px dotted rgba(250, 250, 250, 0.999);
}

.ui-input__text {
    display: inline-block;
    margin-left: 3rem;
    margin-top: 1rem;
    border-style: none;
    width: 70%;
}

.ui-container__main {
    text-align: center;
    color: #eee;
}

.btn {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 5px;
    border: 1px solid rgba(32, 32, 32, 0.149);
    border-radius: 4px;
    box-shadow: 0 0 7px inset rgba(0, 0, 0, 0.183);
    transition: all 0.15s ease-in-out;
}

.btn-loadSql {
    background-color: rgb(28, 173, 74);
}

.btn-action {
    background-color: rgb(28, 100, 173);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 7px inset rgba(250, 250, 250, 0.591);
}

.btn:active {
    box-shadow: 3px 0 7px inset rgba(25, 25, 25, 0.591);
}

#fInput {
    opacity: 0;
}

#ta1 {
    display: inline-block;
    width: 100%;
    height: 80%;
    margin-top: 1rem;
}

#filenameDisplay{
    color: #fff;
}

form textarea {
    color: #333;
    background-color: #fff;
    width: 100%;
}

.output {
    padding: 1rem;
    color: blanchedalmond;
    background-color: rgb(48, 48, 48);
    width: 100%;
}